/* flex: flex-grow, flex-shrink, flex-basis;  */
/* flex-direction: column и space-between - для хедер и футер */

/* обнуление стилей */ /* ---------------------------------------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* выравнивание изображение по верху */
img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
/* принимает свойства родительского элемента (inherit) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1; /* устанавливает величину пространства между строками */
  font-size: 16px;
  color: #3c3c3b;
  font-family: Inter;
  font-weight: 600;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* technical classes */ /* ---------------------------------------------------------------------------- */
body {
  background-color: #fbfbfb;
  /* max-width: 1920px; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden; /* hidden чтобы не вышел за границы*/
  display: flex;
  flex-direction: column;
}

/* ограничивающий контейнер для всего */
._container {
  max-width: 1320px;
  margin: 0 auto;
}

/* ._ibg {
  position: relative;
}
.igb img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
} */

/* убрать две линии */
.header__line {
  line-height: 0.625;
  height: 10px;
  display: none;
}

.bheader__bottom__line {
  line-height: 0.375;
  height: 10px;
}

/* Стили */ /* ---------------------------------------------------------------------------- */

.header {
  /* position: absolute; */
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgb(75, 86, 94);
}

.header__container {
  height: 80px;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__column {
  display: flex;
  align-items: center;
  min-height: 100%;
  /* align-items: center; */
}

.header__logo {
  width: 70px;
}

.header__menu {
  margin-left: 40px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 24px;
}

.menu__link {
  color: #f9fafb;
  /* line-height: 19px; в процентах: */
  line-height: calc(19 / 16 * 100%);
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-self: stretch; */
}

.info__list {
  /* margin-left: 100px; */
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.info__item:not(:last-child) {
  margin-right: 24px;
}
.info__item:last-child {
  margin: 0px;
  padding: 10px;
  border: 1px solid #f0ba4e;
  border-radius: 35px;
}

.info__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 24px;
}

.info__item img {
  margin: auto;
}

.info__item label {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  padding-left: 10px;
  line-height: calc(19 / 16 * 100%);
}

.bheader__bottom {
  background: #f0ba4e;
  display: flex;
  height: 48px;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  width: 100%;
}

.bheader__bottom_line {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
.bheader__bottom__line {
  min-height: 100%;
  padding: auto;
  margin-right: 10px;
}

.bheader__bottom_box {
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: space-between;
  width: 100%;
}
.bheader__bottom_menu {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.menu__blist {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.menu__item a {
  color: #3c3c3b;
}

.bheader__search {
  display: flex;
}
.header__point {
  display: flex;
  align-items: center;
}
.header__point img {
  margin-right: 5.5px;
}
.header__point label {
  color: #ffffff;
}

.serching img {
  width: 24px;
  height: 24px;
  /* color: #3c3c3b; */
}
.serching input {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #f0ba4e;
  /* box-sizing: border-box; */
}
.serching {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 376px;
  height: 28px;
  justify-content: space-between;
  border-bottom: 1px solid #3c3c3b;
}

.serching:first-child {
  margin: 0px 25.5px 0px 0px;
}

/* CONTENT /* ---------------------------------------------------------------------------- */
.content {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* max-height: 720px; */
  /* flex-basis: 300px; */
  /* min-height: 300px; */
}

.content__main-block {
  border: 3px solid red;
  /* display: flex; */
  flex: 1 1 auto;
  /* flex-basis: 300px; */
  /* max-height: 300px; */
  /* justify-content: flex-start; */
  /* max-width: 1920px; */
  /* max-height: 720px; */
  background-image: url("./head.png"), url("./icon/main_alpha.png");
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: 100%, 55%;
  /* background-attachment: local; */
  /* align-items: center; */
  /* align-self: center; */
}

.main-block {
  position: relative;
  /* min-height: 490px; */
  /* max-height: 720px; */
}

.main-block__title {
  position: absolute;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #f0ba4e;
  min-width: 330px;
  /* width: 543px;
  height: 112px;
  left: 300px;
  top: 304px; */
  width: calc(543 / 1920 * 100%);
  height: calc(112 / 720 * 100%);
  left: calc(300 / 1920 * 100%);
  top: calc(304 / 720 * 100%);
}

.content__info {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  /* flex: 1 1 auto; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* padding: 0px; */
  /* gap: 28px; */
  position: relative;
  /* display: flex; */
  justify-content: space-between;
}

.content__item {
  /* max-width: 421px; */
}
.content__list {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}
.content__item {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}

@media (max-width: 1319px) {
}

@media (max-width: 767px) {
  .info__item label,
  .header__menu {
    display: none;
  }
  .info__item:not(:last-child) {
    display: none;
  }
  .info__list label {
    padding: 0;
  }
  .header__line {
    display: block;
  }
  .content__block__container {
    transform: scale(0.4) translate(-75%, -75%);
  }
}
