/* flex: flex-grow, flex-shrink, flex-basis;  */
/* flex-direction: column и space-between - для хедер и футер */

/* обнуление стилей */ /* ---------------------------------------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* выравнивание изображение по верху */
img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
/* принимает свойства родительского элемента (inherit) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1; /* устанавливает величину пространства между строками */
  font-size: 16px;
  color: #3c3c3b;
  font-family: Inter;
  font-weight: 600;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* technical classes */ /* ---------------------------------------------------------------------------- */
body {
  background-color: #fbfbfb;
  /* max-width: 1920px; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden; /* hidden чтобы не вышел за границы*/
  display: flex;
  flex-direction: column;
}

/* ограничивающий контейнер*/
._container {
  max-width: 1320px;
  margin: 0 auto;
}

/* ._ibg {
  position: relative;
}
.igb img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
} */

/* временно скрыть две линии */
.header__line {
  line-height: 0.625;
  height: 10px;
  display: none;
}

.bheader__bottom__line {
  line-height: 0.375;
  height: 10px;
}

/* Стили */ /* ---------------------------------------------------------------------------- */

.header {
  /* position: absolute; */
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgb(75, 86, 94);
}

.header__container {
  height: 80px;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__column {
  display: flex;
  align-items: center;
  min-height: 100%;
  /* align-items: center; */
}

.header__logo {
  width: 70px;
}

.header__menu {
  margin-left: 40px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 24px;
}

.header__column .menu__item a {
  color: #f9fafb;
}

.menu__link {
  color: #f9fafb;
  /* line-height: 19px; в процентах: */
  line-height: calc(19 / 16 * 100%);
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* align-self: stretch; */
}

.info__list {
  /* margin-left: 100px; */
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.info__item:not(:last-child) {
  margin-right: 24px;
}
.info__item:last-child {
  margin: 0px;
  padding: 10px;
  border: 1px solid #f0ba4e;
  border-radius: 35px;
}

.info__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 24px;
}

.info__item img {
  margin: auto;
}

.info__item label {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  padding-left: 10px;
  line-height: calc(19 / 16 * 100%);
}

.bheader__bottom {
  background: #f0ba4e;
  display: flex;
  height: 48px;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  width: 100%;
}

.bheader__bottom_line {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 100%;
}
.bheader__bottom__line {
  min-height: 100%;
  padding: auto;
  margin-right: 10px;
}

.bheader__bottom_box {
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: space-between;
  width: 100%;
}
.bheader__bottom_menu {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.menu__blist {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.menu__item a {
  color: #3c3c3b;
}

.bheader__search {
  display: flex;
}
.header__point {
  display: flex;
  align-items: center;
}
.header__point img {
  margin-right: 5.5px;
}
.header__point label {
  color: #ffffff;
}

.serching img {
  width: 24px;
  height: 24px;
  /* color: #3c3c3b; */
}
.serching input {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #f0ba4e;
  /* box-sizing: border-box; */
}
.serching {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 376px;
  height: 28px;
  justify-content: space-between;
  border-bottom: 1px solid #3c3c3b;
}

.serching:first-child {
  margin: 0px 25.5px 0px 0px;
}

/* CONTENT HEAD/* ---------------------------------------------------------------------------- */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* justify-content: space-between; */
}

.content__main-block {
  position: relative;
}

.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;
}

.main-block__body img {
  width: 100%;
}
.main-block__img img {
  width: 55%;
}

.main-block__title {
  position: absolute;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #f0ba4e;
  min-width: 330px;
  width: calc(543 / 1920 * 100%);
  height: calc(112 / 720 * 100%);
  left: calc(300 / 1920 * 100%);
  top: calc(304 / 720 * 100%);
}

.content__info {
  position: relative;
  justify-content: space-between;
  margin: 28px auto;
}

.content__list {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.content__item {
  display: flex;
  flex: 1 1 auto;
  min-width: 421px;
  align-items: center;
}

.content__item:not(:last-child) {
  margin-right: 28px;
}

.content__item img {
  margin-right: 16px;
}

.item__text h1,
h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3c3c3b;
  min-width: 333px;
}

.item__text h2 {
  color: #a1a0a0;
}

/* CONTENT /* ---------------------------------------------------------------------------- */

/* CARDFILE NUMBER */
.number__list {
  display: flex;
  justify-content: flex-end;
  /* margin: 0 0 0 auto; */
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a1a0a0;
  margin-bottom: 16px;
}
.number__item:first-child {
  font-weight: 600;
  color: #f0ba4e;
}
.number__item:not(:last-child) {
  margin-right: 16px;
}
/* CARDFILE NUMBER */

/* CARDFILE ARROW */
.cardfile__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  width: 178px;
  height: 40px;
  bottom: 16px;
  right: 16px;
}
._arrow {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #f0ba4e;
  border-radius: 80px;
}
.cardfile__arrow h3 {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3c3c3b;
}
.cardfile__arrow img {
  margin: auto;
}
/* CARDFILE ARROW */

/* общие стили */
.cardfile__item h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #3c3c3b;
  position: absolute;
  left: 0;
  right: 0;
}
.product__item {
  background-color: #ffffff;
  overflow: hidden;
}
/* общие стили */

/* CARDFILE PRODUCT /* ---------------------------------------------------------------------------- */

/* CARDFILE ONE */
.cardfile__tool {
  filter: drop-shadow(0px 20px 50px rgba(60, 60, 59, 0.07));
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  min-width: 421px;
  max-width: 421px;
  min-height: 428px;
  max-height: 428px;
}

.cardfile__tool h1 {
  width: 389px;
  margin: 16px auto 0 auto;
}

._ibg__tool {
  position: absolute;
  width: 386px;
  height: 386px;
  top: 114px;
}
/* CARDFILE ONE */

/* size block's */
.product__item {
  filter: drop-shadow(0px 20px 50px rgba(60, 60, 59, 0.07));
  position: relative;
  height: 200px;
  width: 421px;
}

._ibg__item-1 {
  position: absolute;
  width: 279px;
  height: 279px;
}
._ibg__item-2 {
  position: absolute;
  width: 209px;
  height: 209px;
}
._ibg__item-3 {
  position: absolute;
  width: 245px;
  height: 245px;
}
._ibg__item-4 {
  position: absolute;
  width: 189px;
  height: 189px;
}

._ibg__tool img,
._ibg__item-1 img,
._ibg__item-3 img {
  width: 88%;
}
._ibg__item-2 img,
._ibg__item-4 img {
  width: 100%;
}
/* size block's */

.cardfile__item {
  /* position: relative; */
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
}

.cardfile__product {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  /* align-self: center; */
  flex-wrap: wrap;
  max-width: 870px;
  min-height: 428px;
}

/* position text and img*/
.cardfile__product div:nth-child(1) h1 {
  width: 91px;
  margin: 16px 16px 0 auto;
}
.cardfile__product div:nth-child(2) h1 {
  width: 231px;
  margin: 16px auto 0 16px;
}
.cardfile__product div:nth-child(3) h1 {
  width: 218px;
  margin: 16px auto 0 16px;
}
.cardfile__product div:nth-child(4) h1 {
  width: 336px;
  margin: 16px auto 0 16px;
}
._ibg__item-1 {
  top: 16px;
}
._ibg__item-2 {
  left: 208px;
  top: 60px;
}
._ibg__item-3 {
  left: 205px;
}
._ibg__item-4 {
  left: 17px;
  top: 66px;
}
.cardfile__product div:nth-child(2) .cardfile__arrow,
.cardfile__product div:nth-child(3) .cardfile__arrow {
  left: 16px;
  bottom: 16px;
}
/* position text and img*/

/* CARDFILE PRODUCT /* ---------------------------------------------------------------------------- */

/* CATALOG /* ---------------------------------------------------------------------------- */
.catalog {
  margin-top: 56px;
}

/* CATALOG TEXT  */
.catalog__text-top {
  margin-bottom: 28px;
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__text-top h1 {
  color: #000;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.catalog__text-top h3 {
  color: #f0ba4e;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
/* CATALOG TEXT  */

/* CATALOG CONTEINER AND CATALOG ARROW  */
.catalog__product {
  position: relative;
  width: 1412px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.container__catalog__item {
  display: flex;
  width: 1320px;
  justify-content: space-between;
}

.catalog__arrow {
  position: absolute;
  left: 0;
  background: url(./icon/arrow_catalog.png) #ffffff center no-repeat;
  align-self: center;
  width: 60px;
  height: 60px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.07);
  border-radius: 36px;
}
.catalog__arrow:last-child {
  left: auto;
  right: 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
/* CATALOG CONTEINER AND CATALOG ARROW  */

/* CATALOG ITEM  /* ---------------------------------------------------------------------------- */
.catalog__item {
  box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  width: 309px;
  height: 429px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.catalog__item div,
.catalog__item h2,
.catalog__item > label {
  width: 261px;
}
.item__basket div {
  width: auto;
}

/* CIRCLE BLOCK */
.item__circle {
  margin-top: 12px;
  height: 180px;
  background: url(./img/circle.png) #ffffff no-repeat;
  background-size: contain;
  display: flex;
}
.item__circle img {
  margin-top: 10.5px;
  height: 18.23px;
}
.circle__text div {
  width: auto;
}
.circle__text h1 {
  display: inline-block;
}
/* CIRCLE BLOCK */

/* PRICE BLOCK */
.item__price h3 {
  margin: 12px auto 6px auto;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.price h5 {
  margin-left: 16px;
}
/* PRICE BLOCK */

/* BASKET BLOCK  */
.item__basket {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket__amount {
  display: flex;
  align-items: center;
}
.basket__amount label {
  margin: 0 16px 0 16px;
}
.item__basket > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 47px;
  border: 1px solid #f0ba4e;
  border-radius: 54px;
}
/* BASKET BLOCK  */

/* CATALOG ITEM  /* ---------------------------------------------------------------------------- */

/* CATALOG ITEM TEXT*/
.circle__text h1 {
  padding: 10px 20px;
  background: #fa5d69;
  border-radius: 61px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.circle__text > h1 {
  background: #08c785;
  margin-bottom: 12px;
}
.catalog__item label {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3c3c3b;
}
.catalog__item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #a1a0a0;
}
.catalog__item h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #3c3c3b;
}
.catalog__item h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3c3c3b;
}
.catalog__item h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3c3c3b;
}
.catalog__item label:nth-child(3),
.item__basket label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3c3c3b;
}
.basket__amount label {
  font-size: 20px;
  line-height: 24px;
}
/* CATALOG ITEM TEXT*/

/* CATALOG /* ---------------------------------------------------------------------------- */

@media (max-width: 1319px) {
}

@media screen and (max-width: 767px) {
  .info__item label,
  .header__menu {
    display: none;
  }
  .info__item:not(:last-child) {
    display: none;
  }
  .info__list label {
    padding: 0;
  }
  .header__line {
    display: block;
  }
  .content__block__container {
    transform: scale(0.4) translate(-75%, -75%);
  }
}
